In [1]:
#inorder to get the contents of numpy namespace, we have to call the numpy library first.
import numpy as np

In [ ]:
np.<TAB> #Display all contents of numpy namespace

In [4]:
np?#This will display numpy's builtin documentation

In [5]:
ar1=([0,1,2,3])#Creating 1D array

In [6]:
ar2=([[0,3,5],[2,8,7]])#Creating 2D array

In [20]:
ar3=np.array([range(i,i+3) for i in [2,4,6]])#Array using FOR loop

In [13]:
np.shape(ar1)#Gives the shape of the array

(4,)

In [14]:
np.shape(ar2)

(2, 3)

In [21]:
np.shape(ar3)

(3, 3)

In [23]:
np.ndim(ar1)#Gives the dimension of the array

1

In [24]:
np.ndim(ar2)

2

In [25]:
np.ndim(ar3)

2

In [26]:
ar5=np.array([3.14,4,2,3])

In [29]:
ar6=np.array([1,2,3,4],dtype='float32')#Changing the data types in an array

In [30]:
ar6

array([1., 2., 3., 4.], dtype=float32)

In [32]:
ar7=np.arange(12)#Creating an array with 12 elements starting from 0.

In [33]:
ar7

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [34]:
ar8=np.arange(3,10,3)#Creating array with step

In [35]:
ar8

array([3, 6, 9])

In [36]:
ar8=np.linspace(0,2,4)#Helps us to create equally spaced values between two values.

In [37]:
ar8

array([0.        , 0.66666667, 1.33333333, 2.        ])

In [39]:
ar9=np.zeros((4,2))#Creating null matrix of four rows and two columns.

In [40]:
ar9

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [41]:
ar10=np.eye(3)#Creating identity matrix.

In [42]:
ar10

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [43]:
ar11=np.diag((2,1,4,6))#Creating diagonal matrix

In [44]:
ar11

array([[2, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 4, 0],
       [0, 0, 0, 6]])

In [64]:
np.random.seed(100)
ar12=np.random.rand(3)#Creating an array with 3 random values.Seed helps us to set these random values as static.

In [61]:
ar12

In [65]:
ar12

array([0.54340494, 0.27836939, 0.42451759])

In [66]:
ar13=np.random.randn(5)#Creating array with 5 random values from standard normal deviation.

In [67]:
ar13

array([ 0.35467445, -0.78606433, -0.2318722 ,  0.20797568,  0.93580797])

In [69]:
ar14=np.empty((3,2))#Creating empty matrix

In [70]:
ar14

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [78]:
ar15=np.tile(np.array([[1,2],[6,7]]),3)#Enables repetition of lists inside an array.

In [79]:
ar15

array([[1, 2, 1, 2, 1, 2],
       [6, 7, 6, 7, 6, 7]])

In [80]:
ar16=np.tile(np.array([[1,2],[6,7]]),(2,2))

In [81]:
ar16

array([[1, 2, 1, 2],
       [6, 7, 6, 7],
       [1, 2, 1, 2],
       [6, 7, 6, 7]])

In [84]:
ar17=np.array([2.,4,6,8])

In [87]:
ar17.dtype

dtype('float64')

In [88]:
ar18=np.array([2,4,6,8])

In [89]:
ar18.dtype

dtype('int32')

In [90]:
sar=np.array(['goodbye','welcome','tata','goodnight'])

In [91]:
sar.dtype

dtype('<U9')

In [92]:
bar=np.array([True,False,True])

In [93]:
bar.dtype

dtype('bool')

In [94]:
ar=np.arange(5)

In [95]:
ar

array([0, 1, 2, 3, 4])

In [100]:
ar[0]#Extracting the elements from an array.

0

In [97]:
ar[1]

1

In [98]:
ar[-1]

4

In [99]:
ar[::-1]#Reversing an array

array([4, 3, 2, 1, 0])

In [102]:
ar1=np.array([[2,3,4],[9,8,7],[11,12,13]])

In [103]:
ar1

array([[ 2,  3,  4],
       [ 9,  8,  7],
       [11, 12, 13]])

In [104]:
ar1[1,1]#Extracting elements from 2D array

8

In [105]:
ar1[2]

array([11, 12, 13])

In [106]:
ar1[:,1]#Extracting the elements only from second column.

array([ 3,  8, 12])

In [107]:
ar2=np.array([0,1,2])

In [108]:
ar2[5]

IndexError: index 5 is out of bounds for axis 0 with size 3

In [109]:
ar3=np.arange(6)

In [110]:
ar3

array([0, 1, 2, 3, 4, 5])

In [111]:
ar3[1:5:2]#Extracting the elements and applying step.

array([1, 3])

In [112]:
ar3[1:6:2]

array([1, 3, 5])

In [114]:
ar3[:4]#Extracting upto 4th column

array([0, 1, 2, 3])

In [115]:
ar3[4:]#Extracting from 4th column

array([4, 5])

In [116]:
ar3[::3]#Using step in array

array([0, 3])

In [118]:
x=np.random.randint(10,size=(3,4))#Creating a 2D array with integers starting from 0 upto 9

In [119]:
x

array([[0, 9, 6, 2],
       [4, 1, 5, 3],
       [4, 4, 3, 7]])

In [120]:
x[:2,:3]#Extracting upto 2nd row 3rd column.

array([[0, 9, 6],
       [4, 1, 5]])

In [121]:
x[:3,::2] #Extracting upto 3rd row with alternative elements.

array([[0, 6],
       [4, 5],
       [4, 3]])

In [122]:
x[::-1,::-1]#Reversing the entire rows and columns.

array([[7, 3, 4, 4],
       [3, 5, 1, 4],
       [2, 6, 9, 0]])

In [123]:
x[:,0]#Extracting the 1st column itself

array([0, 4, 4])

In [124]:
x[0,:]#Extracting the 1st row itself

array([0, 9, 6, 2])

In [125]:
np.random.seed(100)
ar=np.random.randint(0,25,10)

In [126]:
ar

array([ 8, 24,  3,  7, 23, 15, 16, 10, 20,  2])

In [128]:
evenMask=(ar%2==0)#Masking the even numbers

In [129]:
evenMask

array([ True,  True, False, False, False, False,  True,  True,  True,
        True])

In [130]:
evenNums=ar[evenMask]

In [131]:
evenNums

array([ 8, 24, 16, 10, 20,  2])

In [132]:
ar=np.array(['Hungary','Nigeria','Guatemala','','Poland','','Japan'])

In [133]:
ar

array(['Hungary', 'Nigeria', 'Guatemala', '', 'Poland', '', 'Japan'],
      dtype='<U9')

In [134]:
ar[ar=='']='USA'#Assigning a value to the array

In [135]:
ar

array(['Hungary', 'Nigeria', 'Guatemala', 'USA', 'Poland', 'USA', 'Japan'],
      dtype='<U9')

In [136]:
ar=np.arange(15)

In [137]:
ar

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [139]:
ar2=np.arange(0,-10,-1)[::-1]#Creating an array and reversing it.

In [140]:
ar2

array([-9, -8, -7, -6, -5, -4, -3, -2, -1,  0])

In [141]:
ar[:10]=ar2#Assigning values to an array.

In [142]:
ar

array([-9, -8, -7, -6, -5, -4, -3, -2, -1,  0, 10, 11, 12, 13, 14])

In [143]:
ar=np.arange(0,7)*5#Multiplying all the elements in an array.

In [144]:
ar

array([ 0,  5, 10, 15, 20, 25, 30])

In [145]:
ar=np.arange(5)**4#Power of an array

In [146]:
ar

array([  0,   1,  16,  81, 256], dtype=int32)

In [147]:
ar**0.5#Square root of an array

array([ 0.,  1.,  4.,  9., 16.])

In [148]:
ar=3+np.arange(0,30,3)#Adding a constant to an array

In [149]:
ar

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [150]:
ar2=np.arange(1,11)

In [151]:
ar2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [152]:
ar-ar2#Subtracting two arrays

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [153]:
ar/ar2#Dividing two arrays

array([3., 3., 3., 3., 3., 3., 3., 3., 3., 3.])

In [156]:
ar*ar2#Multiplying two arrays

array([  3,  12,  27,  48,  75, 108, 147, 192, 243, 300])

In [157]:
ar=np.arange(1,5)

In [158]:
ar

array([1, 2, 3, 4])

In [159]:
ar2=np.arange(5,1,-1)

In [160]:
ar2

array([5, 4, 3, 2])

In [161]:
ar<ar2#Comparing the elements in two arrays

array([ True,  True, False, False])

In [162]:
ar=np.array([np.pi,np.pi/2])

In [163]:
np.sin(ar)#Checking for trignometric functions.

array([1.2246468e-16, 1.0000000e+00])

In [164]:
ar=np.arange(0,6)

In [165]:
ar

array([0, 1, 2, 3, 4, 5])

In [166]:
ar2=np.arange(0,8)

In [167]:
ar2

array([0, 1, 2, 3, 4, 5, 6, 7])

In [168]:
ar*ar2

ValueError: operands could not be broadcast together with shapes (6,) (8,)

In [170]:
ar=np.array([[1,2,3],[4,5,6]])

In [171]:
ar

array([[1, 2, 3],
       [4, 5, 6]])

In [172]:
ar.T#Finding the transpose of a matrix

array([[1, 4],
       [2, 5],
       [3, 6]])

In [173]:
ar=np.arange(1,5)

In [174]:
ar

array([1, 2, 3, 4])

In [175]:
ar.sum()#Calculating the sum of the elements of a matrix.

10

In [177]:
ar.prod()#Calculating the product of the elements

24

In [178]:
ar=np.array([np.arange(1,6),np.arange(1,6)])

In [179]:
ar

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5]])

In [180]:
np.prod(ar,axis=0)#Calculating the product in column wise

array([ 1,  4,  9, 16, 25])

In [181]:
np.prod(ar,axis=1)#Calculating the product of the elements row wise.

array([120, 120])

In [182]:
ar=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [183]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [184]:
ar.sum()

45

In [185]:
np.random.seed(100)
ar=np.random.randint(0,10,size=(4,5))

In [186]:
ar

array([[8, 8, 3, 7, 7],
       [0, 4, 2, 5, 2],
       [2, 2, 1, 0, 8],
       [4, 0, 9, 6, 2]])

In [188]:
ar.mean()#Calculating the average of the elements

4.0

In [189]:
ar.std()#Calculating the standard deviation.

2.949576240750525

In [191]:
ar.var(axis=0)#Calculating the variance for the first column.

array([8.75  , 8.75  , 9.6875, 7.25  , 7.6875])

In [192]:
ar.cumsum()#Calculating the cumulative sum element wise.

array([ 8, 16, 19, 26, 33, 33, 37, 39, 44, 46, 48, 50, 51, 51, 59, 63, 63,
       72, 78, 80], dtype=int32)

In [197]:
np.any(ar>8)#Checking for any value is present in the array greater than 8.

True

In [199]:
np.all(ar>0)#Checking whether all the elements are greater than 0.

False

In [200]:
ar=np.ones((3,2))

In [201]:
ar

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [202]:
ar2=np.array([2,3])

In [203]:
ar2

array([2, 3])

In [204]:
ar+ar2

array([[3., 4.],
       [3., 4.],
       [3., 4.]])

In [205]:
ar=np.array([23,24,25])

In [206]:
ar

array([23, 24, 25])

In [207]:
ar.T

array([23, 24, 25])

In [208]:
ar+ar.T

array([46, 48, 50])

In [210]:
ar=np.array([np.arange(1,6),np.arange(10,15)])

In [211]:
ar

array([[ 1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14]])

In [212]:
ar.ravel()#Flattening the array

array([ 1,  2,  3,  4,  5, 10, 11, 12, 13, 14])

In [214]:
ar.T.ravel()

array([ 1, 10,  2, 11,  3, 12,  4, 13,  5, 14])

In [215]:
ar=np.arange(1,16)

In [216]:
ar

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [217]:
ar.reshape(3,5)#Reshaping the array

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [218]:
ar=np.arange(5)

In [219]:
ar

array([0, 1, 2, 3, 4])

In [228]:
ar.resize((1,5))#Resizing the array from 1D to 2D.

In [229]:
ar

array([[0, 1, 2, 3, 4]])

In [230]:
ar=np.array([14,15,16])

In [231]:
ar

array([14, 15, 16])

In [233]:
ar.shape

(3,)

In [234]:
ar=ar[:,np.newaxis]#Adding new axis to the exiting array.

In [235]:
ar.shape

(3, 1)

In [236]:
ar=np.array([[3,2],[10,-1]])

In [237]:
ar

array([[ 3,  2],
       [10, -1]])

In [238]:
ar.sort(axis=1)#Sorting the row elements.

In [239]:
ar

array([[ 2,  3],
       [-1, 10]])

In [240]:
ar=np.array([[3,2],[10,-1]])

In [241]:
ar.sort(axis=0)#Sorting the column elements.

In [242]:
ar

array([[ 3, -1],
       [10,  2]])

In [243]:
np.min(ar)#Minimum in the array

-1

In [244]:
np.max(ar)#maximum in the array

10

In [245]:
np.argmax(ar)#Index number of the maximum.

2

In [246]:
np.argmin(ar)#Index number of the minimum.

1